@import 'tailwindcss';

/* この設定でdark:が有効になる */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --animate-scroll-down: scroll 2s infinite;
  /* Syntax highlight */
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

/* tailwind.config.tsの設定項目値
・色設定は--color-
・font設定は--text-
・
として記述することで、bg-pf-textなどで使用できる。
*/
@theme {
  /* light設定 */
  --color-pf-text: #3D3D3D;
  --color-pf-bg: #F5F5F5;
  --color-pf-ui-border: #DEDEDE;
  --color-pf-highlight-bg: #FAFDFF;
  --color-pf-slider-ui: #DA7E53;
  --color-pf-disabled-ui: #4c4c4c;
  --color-pf-works-line: #2F2F2F;
  /* dark設定 */
  --color-pf-text-dark: #CACACA;
  --color-pf-bg-dark: #37373f;
  --color-pf-ui-border-dark: #474747;
  --color-pf-highlight-bg-dark: #484853;
}

@layer utilities {
  /* 親要件:relative */
  .text-before-line {
    @apply before:content-[''] before:absolute before:left-0 before:top-0;
  }
  /* 親要件：flex,relative */
  .text-after-line {
    @apply after:content-[''] after:flex-1 after:h-px after:w-full after:ml-3 before:bg-pf-text before:w-1.5 before:h-full after:bg-[linear-gradient(to_right,rgba(61,61,61,1)_0%,rgba(61,61,61,0)_100%)];
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .animate-fadeCircle {
    animation: fadeCircle 1.2s infinite ease-in-out
  }
  @keyframes fadeCircle {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }

  @keyframes loading-5 {
    50% {
      transform: translateY(10px);
    }
  }

  .animate-loading-5 {
    animation: loading-5 1s infinite;
  }
}

@layer components {
  .scroll-down-animate {
    @apply relative pt-16 text-center;
  }
  .scroll-down-animate::before {
    content: "";
    @apply absolute top-0 left-0 right-0 m-auto w-5 h-5 border-l-2 border-b-2 border-pf-text dark:text-pf-text-dark;
    animation: var(--animate-scroll-down);
  }
  .text-underline-animate {
    @apply transition-all duration-300;
    background-image: linear-gradient(var(--color-pf-text), var(--color-pf-text));
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 0 1px;
  }
  .text-underline-animate:hover {
    background-position: bottom left;
    background-size: 100% 1px;
  }
  [data-theme="dark"] .text-underline-animate {
  background-image: linear-gradient(var(--color-pf-text-dark), var(--color-pf-text-dark));
}
}

html {
  min-width: 360px;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: rotate(-45deg) translate(-20px, 20px);
  }
  100% {
    opacity: 0;
  }
}

* {
  backface-visibility: hidden;/* animation時のにじみ防止 */
	-webkit-backface-visibility: hidden;/* animation時のにじみ防止 */
	-webkit-font-smoothing: antialiased;/* animation時の文字にじみ防止 */
	-moz-osx-font-smoothing: grayscale;/* animation時の文字にじみ防止 */
}

/*********************************

@splide/react-splide

*********************************/
.splide__arrow {
  width: 3.5rem;
  height: 3.5rem;
  background: var(--color-pf-text);
  opacity: .7;
  transform-origin: center center;
  transition: transform .25s ease;
}
.splide__arrow > svg {
  fill: var(--color-pf-bg);
}
.splide__arrow:hover:not(:disabled) {
    opacity: .7;
    transform: translateY(-50%) scale(1.25);
}
.splide__track {
  padding-top: 16px;
  overflow: visible;
}

.splide__slide {
  transition: transform 0.5s ease, opacity 0.4s ease;
  &:not(.is-visible) {
      pointer-events: none;
      opacity: 0.3;
  }
}
.splide__slide:hover {
  transform: translateY(-16px)
}

.splide__pagination {
  display: none;
}

.splide-work .splide__arrow--prev {
  left: -6em;
}
.splide-work .splide__arrow--next {
  right: -6em;
}

/*********************************

  @react-paginate

**********************************/
.react-paginate .disabled a {
  cursor: auto;
  border: transparent;
}
.react-paginate .disabled a > svg {
  color: var(--color-pf-disabled-ui);
}
.react-paginate .disabled a:hover {
  background: var(--color-pf-bg);
}

/*********************************

  @tailwindcss/typography

**********************************/
.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
